<!-- <div>

    <div class="col-sm-8 col-md-9 col-lg-10">
        <h5 class="main-heading"><u>QR Code Generation</u></h5>
    </div>

    <br><br>
    <div class="row">
        <div class="col-sm-2">
            <h5 class="control-label control-label-material">Material Barcode :</h5>

        </div>
        <div class="col-8">

            <input type="text" [(ngModel)]="qrCodeData" (keyup.enter)="onEnterPress($event)" name="materialBarcodeData"
                id="materialBarcodeDatasid" class="form-control barcode-input" style=" border: 2px solid #b4cfec; ">
                
        </div>
        <br>
        <br>
    </div>
    <br>
    <hr class="line1">
    <form class="box">

        <div class="input-line">
            <div class="input-container">
                <label for="input1">Material Code </label>

                <input type="text" id="input1" name="Material Code" class="inputs form-control pallet-code-input" [(ngModel)]="materialCode">

             

            </div>

            <div class="input-container">
                <label for="input2">Material Description </label>
                <input type="text" id="input2" name="Material Description" class="inputs form-control pallet-code-input"
                    [(ngModel)]="materialDescription">
            </div>

            <div class="input-container">
                <label for="input3">Quantity </label>
                <input type="number" id="input3" name="Quantity" class="inputs form-control pallet-code-input" [(ngModel)]="quantity">

            </div>
        </div>

        <div class="input-line">
            <div class="input-container">
                <label for="input4">Material Inspection
                    <br>Status </label>
                <input type="text" id="input1" name="Material InspectionStatus " class="inputs form-control pallet-code-input"
                    [(ngModel)]="materialInspectionStatus">


            </div>

            <div class="input-container">
                <label for="input5">MFG Date</label>
                
                <input type="text" id="input2" name="MFG Date" class="inputs form-control pallet-code-input" [(ngModel)]="mfgDate">
            </div>
            <div class="input-container">
                <label for="input6">Expiry Date </label>

                <input type="text" id="input3" name="Expiry Date" class="inputs form-control pallet-code-input" [(ngModel)]="expiryDate">

            </div>
        </div>

        <div class="input-line">
            <div class="input-container">
                <label for="input7">Batch Number</label>
             
                <input class="form-control inputs" type="text" id="input1" name="Batch Number" size="10" class="inputs form-control pallet-code-input"
                [(ngModel)]="batchNumber">

            </div>

            <div class="input-container">
                <label for="input8">Input-1</label>
                <input type="text" id="input2" name="Input-1:" class="inputs form-control pallet-code-input" [(ngModel)]="input1">
            </div>
            <div class="input-container">
                <label for="input9">Input-2</label>
                <input type="text" id="input3" name="Input-1" class="inputs form-control pallet-code-input" [(ngModel)]="input2">
            </div>
        </div>

        <div class="input-line">
            <div class="input-container">
                <label for="input10">Input-3</label>
                <input type="text" id="input1" name="Input-3" class="inputs form-control pallet-code-input" [(ngModel)]="input3">
            </div>

            <div class="input-container">
                <label for="input11">Input-4</label>
                <input type="text" id="input2" name="Input-4" class="inputs form-control pallet-code-input" [(ngModel)]="input4">
            </div>
            <div class="input-container">
                <label for="input12">Input-5</label>
                <input type="text" id="input3" name="Input-5" class="inputs form-control pallet-code-input" [(ngModel)]="input5">
            </div>
        </div>


     <hr class="line">

        <div class="buttons">
            <div class="button qrbtn">
                <button class="button button3" (click)="GenerateQRCode()">Generate QR</button>
            </div>
            <div class="col-2 fetchbtn" >
                <button type="button" class="btn info fetch-button" data-bs-toggle="modal" data-bs-target="#updateWorkDoneModal" >
                  Work Done</button>
          
              </div>
        </div>

    </form>

</div>
 -->
