<!-- MASTER HEADER SECTION -->
<div class="row heading-name-area">
  <div class="col-sm-8 col-md-9 col-lg-10">
    <!-- <h4 class="headertag"> <u>Master Material Details</u></h4> -->
    <h5 class="main-heading"><u>Master Model Details</u></h5>
  </div>

  <div class="col-sm-4 col-md-3 col-lg-2">

    <button type="button" class="btn btn-primary float-end add-product-button" data-bs-toggle="modal" [disabled]="isMonitor()"
      data-bs-target="#addProductModal"><i class="bi bi-plus-square"></i> </button>
  </div>
</div>

<!-- TABLE SECTION -->
<div class="row table-area ">
  <div class="col shadow-border p-3 mb-5 rounded">
    <div id="table">
      <table datatable [dtOptions]="productDtOptions" id="prodId" class="table-responsive-sm table-bordered stripe">
        <thead>
          <tr>
            <th class="th-sm">Sr No</th>
            <th class="th-sm">Product Desc</th>
            <th class="th-sm">Product Name</th>
            <th class="th-sm">Created Date Time</th>
            <!-- <th class="th-sm">Retest Days</th> -->
            <!-- <th class="th-sm">Is Active </th> -->
            <th class="th-sm">Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let productDetails of masterProductDetailsTableList; index as i">
            <td>{{i+1}}</td>
            <td>{{productDetails.productDesc}}</td>
            <td>{{productDetails.productName}}</td>
            <td> {{productDetails.createdDatetime}}</td>
            <!-- <td> {{productDetails.inspectionInDays}}</td> -->
            <!-- <td> {{productVariantDetails.inspectionInDays}}</td>
   -->

            <td class="button-container">
              <!-- Open Edit Product Variant Details Modal -->
              <p *ngIf="productDetails.productIsActive==1; else InActiveProductVariant">
                <button type="button" class="btn btn-success btn-sm" (click)="editProductRow(productDetails)" [disabled]="isMonitor()"
                  data-bs-toggle="modal" data-bs-target="#editActiveInctiveButtonModal" style="margin-top: 15px;">
                  {{'Active'}}
                </button>
              </p>
              <ng-template #InActiveProductVariant>
                <button type="button" class="btn btn-danger btn-sm" (click)="editProductRow(productDetails)" [disabled]="isMonitor()"
                  data-bs-toggle="modal" data-bs-target="#editActiveInctiveButtonModal">
                  {{'InActive'}}
                </button>
              </ng-template>

              <!-- Open Edit Product Variant Details Modal -->
              <button type="button" class="btn btn-warning btn-sm edit-button" (click)="editProductRow(productDetails)" [disabled]="isMonitor()"
                data-bs-toggle="modal" data-bs-target="#editProductVarientModal">
                <i class="bi bi-pencil-square"></i>
              </button>

              <!-- Open Delete Product Varaint Details Modal -->
              <button class="btn btn-danger btn-sm delete-button" [disabled]="isMonitor()"
                (click)="deleteProducttRow(productDetails.productId,productDetails.productName,productDetails.productDesc)"
                data-bs-toggle="modal" data-bs-target="#deleteproductModal">
                <i class="bi bi-trash3"></i>
              </button>
            </td>


          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <!-- Modal window 2 to insert the data into table Called on Button=> Add-->
  <div class="modal" id="addProductModal" method="get">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header modal-header-style">
          <div class="row">
            <h4 class="modal-title"><i class="bi bi-plus-square"></i> Add New Model Details</h4>
          </div>

        </div>
        <div class="modal-body">
          <form #addProductDetailsModalForm="ngForm" (ngSubmit)="addMasterProductDetails(addProductDetailsModalForm)">
            <div class="row">
              <div class="col-5">
                <p class="required label-text1">Model </p>
              </div>
              <div class="col-7">
                <input type="text" id="addProductNameId" name="addProductName" required #addProductNameRef="ngModel"
                  [(ngModel)]="addProductDetailsInstance.productName">
                <div *ngIf="!addProductNameRef.valid &&(addProductNameRef.dirty || addProductNameRef.touched)"
                  class="error">
                  <div *ngIf="addProductNameRef.errors?.['required']">
                    <p class="text-danger"><i class="bi bi-exclamation-circle-fill"></i>Please Enter Product Name
                    </p>
                  </div>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-5">
                <p class="required label-text1">Model Description</p>
              </div>
              <div class="col-7">
                <input type="text" id="addProductCodecId" name="addProductCode" #addProductCodeRef="ngModel" required
                  [(ngModel)]="addProductDetailsInstance.productDesc">
                <div *ngIf="!addProductCodeRef.valid &&(addProductCodeRef.dirty || addProductCodeRef.touched)"
                  class="error">
                  <div *ngIf="addProductCodeRef.errors?.['required']">
                    <p class="text-danger"><i class="bi bi-exclamation-circle-fill"></i>Please Enter Product Desc</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-5">
                <p class="required label-text1">Part Is Active</p>
              </div>
              <div class="col-7">
                <input type="radio" id="addActiveId" name="addActiveInActive" value="addProductVariantActiveRadioButton"
                  checked="checked" (change)="addSelectedProductActiveInActiveRadioButton($event)">

                <label for="addProductVariantActiveRadioButton" class="label-text1">Active</label>
                <input type="radio" id="addInActiveId" name="addActiveInActive"
                  value="addProductVariantInActiveRadioButton"
                  (change)="addSelectedProductActiveInActiveRadioButton($event)">
                <label for="addProductVariantActiveRadioButton" class="label-text1">InActive</label>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-success" type="submit" data-bs-dismiss="modal"
                [disabled]="!addProductDetailsModalForm.form.valid">Submit</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal window 2 to update the data into table Called on Button=> Update-->
<div class="modal" id="editProductVarientModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal-header-style">
        <div class="row">
          <h4 class="modal-title"><i class="bi bi-pencil-square popupidit"></i> Edit Model Details :
            {{editProductDetailsInstance.productName}}</h4>
        </div>
      </div>
      <div class="modal-body">
        <form #editProductDetailsModalForm="ngForm" (ngSubmit)="editMasterProductDetails(editProductDetailsInstance)"
          nonvalidate>
          <div class="row">
            <div class="col-5">
              <p class="required label-text1">Product Name </p>
            </div>
            <div class="col-7">
              <input type="text" id="editproductNameId" name="editproductName" #editProductNameRef="ngModel" required
                [(ngModel)]="editProductDetailsInstance.productName">

              <div *ngIf="!editProductNameRef.valid &&(editProductNameRef.dirty || editProductNameRef.touched)"
                class="error">
                <div *ngIf="editProductNameRef.errors?.['required']">
                  <p class="text-danger"><i class="bi bi-exclamation-circle-fill"></i> Please
                    Enter Product Name
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="row">
              <div class="col-5">
                <p class="required">Material Code</p>
              </div>
              <div class="col-7">
                <input type="text" id="editProductVariantCodeId" name="editProductVariantCode"
                  #editProductDescRef="ngModel" required disabled
                  [(ngModel)]="editProductDetailsInstance.productVariantCode">
                <div *ngIf="!editProductDescRef.valid &&(editProductDescRef.dirty || editProductDescRef.touched)"
                  class="error">
                  <div *ngIf="editProductDescRef.errors?.['required']">
                    <p class="text-danger"><i class="bi bi-exclamation-circle-fill"></i>Please Enter Material
                      Code</p>
                  </div>
                </div>
              </div>
            </div> -->
          <!-- <div class="row">
              <div class="col-5">
                <p class="required">Retest Days</p>
              </div>
              <div class="col-7">
                <input type="text" id="editInspectionInDaysId" name="editInspectionInDaysName"
                  #editInspectionInDaysRef="ngModel" required
                  [(ngModel)]="editProductVariantDetailsInstance.inspectionInDays">
                <div
                  *ngIf="!editInspectionInDaysRef.valid &&(editInspectionInDaysRef.dirty || editInspectionInDaysRef.touched)"
                  class="error">
                  <div *ngIf="editInspectionInDaysRef.errors?.['required']">
                    <p class="text-danger"><i class="bi bi-exclamation-circle-fill"></i>Please Enter Inspection in days
                    </p>
                  </div>
                </div>
              </div>
            </div> -->
          <!-- Modal footer -->
          <div class="modal-footer">
            <button class="btn btn-success" type="submit" data-bs-dismiss="modal"
              [disabled]="!editProductDetailsModalForm.valid">Update</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- for active inactive modal -->
<div class="modal" id="editActiveInctiveButtonModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header modal-header-style">
        <h4 class="modal-title1">Change Status OF Part : {{editProductDetailsInstance.productName}} </h4>

      </div>
      <div class="modal-body">
        <form #updateMasterProductDetailsModalForm="ngForm"
          (ngSubmit)="editMasterProductDetails(editProductDetailsInstance)" novalidate>
          <div class="row">
            <div class="col-5">
              <p class="required  status-label-style1">Are you sure you want to Active/Inactive the Part
              </p>
            </div>
            <div class="col-7">
              <div *ngIf="editProductDetailsInstance.productIsActive==1 ; else InActive">
                <input type="radio" id="editProductVariantActiveId" name="editProductActive_InActive"
                  value="editProductActiveRadioButton" checked="checked"
                  (change)="editSelectedProductActiveInActiveRadioButton($event)">
                <label for="editProductActiveRadioButton" class="label-text1">Active</label>

                <input type="radio" id="editProductInActiveId" name="editProductActive_InActive"
                  value="editProductInActiveRadioButton"
                  (change)="editSelectedProductActiveInActiveRadioButton($event)">
                <label for="editProductInActiveRadioButton" class="label-text1">InActive</label>
              </div>

              <ng-template #InActive>
                <input type="radio" id="editProductActiveId" name="editProductActive_InActive"
                  value="editProductActiveRadioButton" (change)="editSelectedProductActiveInActiveRadioButton($event)">
                <label for="editProductActiveRadioButton">Active</label>
                <input type="radio" id="editProductInActiveId" name="editProductActive_InActive"
                  value="editSkuInActiveRadioButton" checked="checked"
                  (change)="editSelectedProductActiveInActiveRadioButton($event)">
                <label for="editProductInActiveRadioButton" class="label-text1">InActive</label>
              </ng-template>
            </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-bs-dismiss="modal" type="submit">Yes</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Delete Product Variant Modal -->
<div class="modal" id="deleteproductModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form #DeleteMasterProductTable="ngForm" novalidate>
        <!--  Header -->
        <div class="modal-header modal-header-style">
          <h4 class="modal-title"><i class="bi bi-trash3 popupidit"></i>Delete Master Model :
            {{productName}}
          </h4>
        </div>

        <!--Modal body -->
        <div class="modal-body">
          <p class="status-label-style">Are you sure you want to delete?</p>

          <label class="required status-label-style">Mention the reason</label><br><br>
          <select id="deleteReason" name="deleteReason" [(ngModel)]="selectedAddReasonName" #deleteReasonRef="ngModel"
            (change)="selectReasonChangeHandler(deleteReasonRef.value)" required style="width: 450px; height: 40px;">
            <option value="" disabled selected>Select reason</option>
            <option *ngFor="let masterReasonDetails of masterReasonDetailsTableList"
              [ngValue]="masterReasonDetails.reason">
              {{masterReasonDetails.reason}}</option>
          </select>
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger" data-bs-dismiss="modal" type="button"
            [disabled]="!DeleteMasterProductTable.valid"
            (click)="deleteProductDetails(DeleteMasterProductTable)">Delete</button>
          <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Cancel</button>
        </div>

      </form>
    </div>
  </div>
</div>