/* tr:hover {
    background-color: #d4d4d4;
} */
 
.modal-backdrop {
    background-color: transparent !important;
    box-shadow: none !important;
}
::ng-deep .modal-backdrop {
    background-color: transparent !important;
    box-shadow: none !important;
}
input {
    margin: 1%;
}
.container-fluid {
    background-color: #FBFCFC;
}

.modal-header-style {
    background-color: #17345f;
  
    color: white;
  }
  .popupidit {
    /* margin-left: -20px; */
    font-size: 30px;
    
    /* margin-right: 25px; */
}
.label-text1 {
    /* margin-left: -10px; */
    font-weight: normal;
    font-family: ibm-plex-sans-regular;
   
    
    font-size: 20px;
  }
.popupidit {
    margin-left: -20px;
    font-size: 30px;
    margin-right: 25px;
}
.textdesign{
    text-align: center;
    /* margin-left: 26%; */
    font-size: 1.2rem;
    font-family: Calibri;
    font-weight: bold;
  }
.modal-title {
    font-weight: bold;
    color: white;
    margin-top: 10px;
    font-family: ibm-plex-sans-regular;
    font-size: 1.3rem;
    margin-left: 20px;
}
.heading-name-area {
    margin-top: 1rem;
    /* position: fixed; */
    /* border: 1px solid red; */
}
.main-heading{
    text-align: center;
    margin-left: 20%;
    font-size: 1.6rem;
    font-family: ibm-plex-sans-regular;
    font-weight: bold;
}
th,
td {
    white-space: nowrap;
}
/* Selected user image */
.input-user-photo {
    width: 200px;
    overflow-wrap: break-word;
    padding: 2px;
}
table.table-bordered > thead > tr > th{
    border-bottom:2px solid #4472C4;
  }

  
.stripe{
    border: 1px solid #B4C7E7;
}
th, td {
 border-bottom: 1px solid #ddd;
    }
   
    .shadow-border{
        /* border-right: 5px solid rgb(173, 172, 172);
        border-bottom: 5px solid rgb(173, 172, 172); */
       /* border-right: 5px solid rgb(241, 239, 239);
        border-bottom: 5px solid rgb(228, 226, 226); 
        border-left: 5px solid rgb(247, 244, 244);  */
        /* box-shadow: 0 3px 10px 2px rgb(0 0 0 / 0.2); */
        box-shadow: 0px 3px 10px 4px  rgb(0 0 0 / 0.2); 
       
           
       }

.user-photo {

    height: 80px;
    width: 80px;
    border: 1px solid rgb(239, 233, 233);
}

/* Datetime area */
.data-time-area {
    /* border: 1px solid rgb(50, 9, 104); */
}

/* Table */
.table-area {
    margin-top: 1rem;
    background-color: #FBFCFC;
    /* border: 3px solid red; */
}
.tablehr{
    border:1px solid red;
}
.table {
    font-size: 0.9rem;
    /* background-color: #FBFCFC; */
    background-color: white;
    /* margin-top: 1rem; */
}
table.table-bordered > thead > tr > th{
    border-bottom:2px solid #4472C4;
  }

  
.stripe{
    border: 1px solid #B4C7E7;
}
th, td {
    
    border-bottom: 1px solid #ddd;
  }
  table tr:nth-child(even) {
    background-color:  #DAE3F3;
  }

table tr:nth-child(even) {
    background-color:  #DAE3F3;
  }
#table {
    /* margin-top: 1rem; */
}

.add-button {
    /* line-height: 1.2rem; */
    margin-left: 0.5rem;
}

.header-style {
    font-family: ibm-plex-sans-regular;
    color: black;
}

.edit-button {
    /* line-height: 1.2rem; */
    /* margin-top: 0.2rem; */
    /* margin-bottom: 0.2rem; */
    margin-left: 0.5rem;
    border-color: #2F5597;
}

.delete-button {
    /* line-height: 1.2rem; */
    margin-left: 0.5rem;
    border-color: #2F5597;
}

.add-user-button {
    text-align: center;
}


/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .container-fluid {
        /* background-color: green; */
    }

    .add-button {
        /* line-height: 1.2rem; */
        margin-left: 0.5rem;
    }

    .edit-button {
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
        margin-left: 0.5rem;
    }

    .delete-button {
        /* line-height: 1.2rem; */
        margin-left: 0.5rem;
    }

    /* for horizontal and vertical scroll for only table */
    .table-area {
        height: 450px;
        width: 350px;
        overflow: auto;
        /* border: 5px solid black; */
    }

}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 576px) and (max-width: 786px) {
    .container-fluid {
        /* background-color: rgb(133, 64, 129); */
    }

    .add-button {
        /* line-height: 1.2rem; */
        margin-left: 0.5rem;
    }

    .edit-button {
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
        margin-left: 0.5rem;
    }

    .delete-button {
        /* line-height: 1.2rem; */
        margin-left: 0.5rem;
    }

    .table-area {
        height: 400px;
        width: 700px;
        overflow: auto;
    }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 786px) and (max-width: 992px) {
    .container-fluid {
        /* background-color: rgb(31, 27, 85); */
    }

    .add-button {
        /* line-height: 1.2rem; */
        margin-left: 0.5rem;
    }

    .edit-button {
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
        margin-left: 0.5rem;
    }

    .delete-button {
        /* line-height: 1.2rem; */
        margin-left: 0.5rem;
    }

}



/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {
    .container-fluid {
        /* background-color: dodgerblue; */
    }

    .add-button {
        /* line-height: 1.2rem; */
        margin-left: 0.5rem;
    }

    .edit-button {
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
        margin-left: 0.5rem;
    }

    .delete-button {
        /* line-height: 1.2rem; */
        margin-left: 0.5rem;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1400px) {
    .container-fluid {
        /* background-color: rgb(114, 190, 155); */
    }
}


/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .container-fluid {
        /* background-color: rgb(245, 245, 12); */
    }
}


/* FOR FORMS */

input[type=text],
select {

    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Display * before all label for validation field mandatory */
.required:after {
    content: "*";
    color: red;
}